@font-face {
    font-family: 'MyCustomFont'; 
    src: url('/AmericanCaptain.otf') format('opentype');
  }

  @font-face {
    font-family: 'SfMedium'; 
    src: url('/SfBold.otf') format('opentype');
  }
  