/* styles/globals.css or styles/globals.scss */
@import 'fonts.css'; 

@font-face {
  font-family: 'MyIphoneFont'; 
  src: url('/SF-Pro-Text-Thin.otf') format('opentype');
}



@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #2a2a2a;
  background:white;
}

@media screen and (min-width: 1280px) {
  .popup:hover {
    transition: all 0.4s;
    transform: scale(1.08);
  }
}


table, th, td {
  width:33%;
}
td{
  margin: 20px;
}

::-webkit-scrollbar {
  width: 10px; 
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}
